@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  margin: 0;
}

.containers {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}

@media (min-width: 1024px) {
  .containers {
    padding-left: 0;
    padding-right: 0;
  }
}