@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  margin: 0;
}

h1 , h2 , h3 , h4 , h5 , h6 , p {
  overflow-wrap: normal;
  overflow-wrap: break-word;
  
}

.responsive-logo {
  height: 40px;
  width: auto;
}

@media (max-width: 350px) {
  .responsive-logo {
    height: 25px;
  }
}

.containers {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 8%;
  padding-right: 8%;
}

@media (min-width: 1280px) {
  .containers {
    padding-left: 0;
    padding-right: 0;
  }
}

.CoverImage , .referencesCoverImage {
  width: 100%;
  min-height: 30vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}


.CoverImage {
  margin-top: 105px;
  background-image: url('/Electric_pillar.webp');
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
  }

/* References Page for the cover images for each field */
.referencesCoverImage {
  background-image: url('/Electric_pillar.webp');
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
}

/* Contact Page for the map area */
.contactCustomBg {
  background: linear-gradient(to right, #ffffff 70%, #fb923c 30%);
}

.contactCustomBgAr {
  background: linear-gradient(to left, #ffffff 70%, #fb923c 30%);
}

/* Gallery Page */
.gallery {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 30px;
}
@media (min-width: 420px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
  }
}

/* Home Page */
.sliderHomePage {
  width: 100%;
  height: 70vh;
}

@media (max-height: 400px) {
  .sliderHomePage {
    padding-top: 80px;
    padding-bottom: 80px;
    height: 450px;
  }
}
.sliderHomePageBg { 
  background-size: cover;
  background-position: center;
}

/* Loader style */
/* components/FourDotsLoader.css */

.loading-logo {
  width: 70vw;
  max-width: 700px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* Spacing between dots */
}

.loaderContainerSmall {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px; /* Spacing between dots */
}

.dot {
  width: 20px; /* Size of each dot */
  height: 20px; /* Size of each dot */
  background-color: #E06C01; /* Color of the dots */
  border-radius: 50%;
  animation: bounce 1.2s infinite ease-in-out;
}

.dotSmall {
  margin-top: 10px;
  width: 10px; /* Size of each dot */
  height: 10px; /* Size of each dot */
  background-color: white; /* Color of the dots */
  border-radius: 50%;
  animation: bounce 1.2s infinite ease-in-out;
}

.dotSmall:nth-child(1) {
  animation-delay: 0s;
}

.dotSmall:nth-child(2) {
  animation-delay: 0.2s;
}

.dotSmall:nth-child(3) {
  animation-delay: 0.4s;
}

.dotSmall:nth-child(4) {
  animation-delay: 0.6s;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

.dot:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
