/* styles/LanguageSwitcher.module.css */
.select-wrapper {
    position: relative;
    display: inline-block;
  }

  .custom-select {
    appearance: none; /* Remove default arrow */
    background: white;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    outline: none;
    /* border: 1px solid #ddd;
    border-radius: 20px; */
    padding: 3px 5px;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .custom-select:focus {
    outline: none;
    border-color: #f59e0b; /* Highlight border color on focus */
  }
  